/*=====SlickGallerySTART=====*/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
    width: 100%;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0; 
    position: absolute;
    bottom: 0;
    margin-top: 0;
    width: 60px;
    height: 60px;
    padding: 0;
    opacity: 1;
    cursor: pointer;
    z-index: 2;
    color: transparent;
    border: none;
    outline: none;
    background: #fff;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.slick-prev:hover,
.slick-next:hover
{
    color: transparent;
    outline: none;
    box-shadow: 0 0 13px rgba(0,0,0,0.2);
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    margin: 0 auto;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    right: 60px;
}
.slick-prev:before
{
    content: '';
    display: block;
    width: 17px;
    height: 28px;
    background: url(../images/arrow-slide.png) no-repeat;
}
.slick-next
{
    right: 0px;
}
.slick-next:before
{
    content: '';
    display: block;
    width: 17px;
    height: 28px;
    background: url(../images/arrow-slide.png) no-repeat;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}


.slick-prev:hover:before{
    background: url(../images/arrow-slide-hover.png) no-repeat;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.slick-next:hover:before{
    background: url(../images/arrow-slide-hover.png) no-repeat;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}



.slick-dots
{
    position: absolute;
    bottom: 38px;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 8px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 14px;
    height: 14px;
    padding: 0px;
    cursor: pointer;
    color: transparent;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    border-radius: 7px;
}
.slick-dots li button:hover {
    background: #fff;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li.slick-active {
    background: #fff;
    border-radius: 7px;
}
.main{
    min-height: 1000px;
}
/*=====SlickGalleryEND=====*/
.main_gallery_wrap:hover .slick-prev,
.main_gallery_wrap:hover .slick-next {
    opacity: 1;
}
.main_gallery_wrap {
    position: relative;
}